@import '../css/style.scss';
@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSans.woff2") format("woff2");
    font-display: swap;
}

